{% extends 'base.html.twig' %}

{% block title %}Bienvenu{% endblock %}

{% block body %}

<div  style="margin: 5em;">
      <center><img alt="Image for post" class="rl wg s t u gw aj hg" width="400" height="350" src="https://miro.medium.com/max/675/1*7pnS67KkTXbGTXqyuwcFAg.gif" srcset="https://miro.medium.com/max/414/1*7pnS67KkTXbGTXqyuwcFAg.gif 276w, https://miro.medium.com/max/675/1*7pnS67KkTXbGTXqyuwcFAg.gif 450w" sizes="450px"></center>
      <h1 class="text-center">Bienvenu</h1>
      <center>
          <a href="{{ path('emplacement') }}"  >
            Cliquez pour commencer
        </a>
      </center>
</div>


{% endblock %}
